.SingleSellOrder {
	.section2 {
		display: flex;
		gap: 10px;
		align-items: start;
		justify-content: space-between;

		.date {
			min-width: 150px;
		}
	}

	.amountNumber {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}
}
